body {
    height: 500vh;
    color: #003A5D;
    font-size: 25px;
    position: relative;
    height: 100vh;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 20;
    line-height: 1.5;
    letter-spacing: 1px;
}

.container {
    padding: 16px;
    width: 95%;
    margin: 60px auto;
}

/* The "Forgot password" text */

span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */

@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}

.title {
    font-size: 35px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 1000;
}

.subTitle {
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    font-weight: 1000;
}

/* .top {
    height: 50vh;
    background-image: linear-gradient(rgba(141, 129, 129, 0.35), rgba(141, 129, 129, 0.35)), url(back.png);
    background-size: cover;
    background-position: center;
    position: relative;
} */

.logout {
    -moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: linear-gradient(to bottom, #003A5D 5%, #003A5D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7', GradientType=0);
    background-color: #007dc1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 0px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}

.admin, .ckp {
    -moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: linear-gradient(to bottom, #003A5D 5%, #003A5D 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7', GradientType=0);
    background-color: #007dc1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 10px solid white;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
    position: relative;
    float: right;
}

.logout:hover, .admin:hover, .ckp:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
    background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
    background: linear-gradient(to bottom, #00A1DF 5%, #00A1DF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1', GradientType=0);
    background-color: #0061a7;
}

.logout:hover, .admin:hover, .ckp:hover {
    position: relative;
    top: 1px;
}

/* .self_list, .others_title {
    width: 95%;
    margin: 0 auto;
} */

#wrap {
    width: 100%;
    /* margin: 0 auto; */
}

.sleft_col, .oleft_col {
    float: left;
    width: 45%;
    height: 400px;
    overflow: auto;
}

.sright_col, .oright_col {
    float: right;
    width: 45%;
    height: 400px;
    overflow: auto;
}

/* h2 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 15px;
} */

h6 {
    font-size: 30px;
    font-weight: 1000;
    margin-bottom: 25px;
}

/* .self_title, .others_title{
    font-size: 25px;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 700;
} */

.column1 {
    float: left;
    width: 59%;
    /* padding: 10px; */
    height: 500px;
    overflow: auto;
    margin-bottom: 100px;
}

.column2 {
    float: right;
    width: 39%;
    /* padding: 10px; */
    height: 500px;
    overflow: auto;
    margin-bottom: 100px;
}

.column3 {
    float: left;
    width: 49%;
    /* padding: 10px; */
    height: 500px;
    overflow: auto;
    margin-bottom: 100px;
}

.column4 {
    float: right;
    width: 49%;
    /* padding: 10px; */
    height: 500px;
    overflow: auto;
    margin-bottom: 100px;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid black;
    text-align: left;
    padding: 8px;
}

.update {
    -moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
    box-shadow: inset 0px 1px 0px 0px #54a3f7;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
    background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
    background: linear-gradient(to bottom, #00A1DF 5%, #00A1DF 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7', GradientType=0);
    background-color: #007dc1;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border: 0px solid #124d77;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #154682;
}

.draft_delete {
    float: left;
}

.draft_delete--btn {
    color: rgb(255, 0, 0);
    font-size: 25px;
    background: none;
    border: none;
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    display: block;
    ;
}

.draft_delete--btn:focus {
    outline: none;
}

.draft_delete--btn:active {
    transform: translateY(2px);
}